<app-landing></app-landing>
<div class="text-center py-14">
  <span class="text-orange-400 uppercase dReveal">JEWELLERY THAT RESPECTS NATURE AND HUMANKIND</span>
  <p class="text-zinc-600 mx-auto max-w-3xl text-4xl py-5 capitalize dReveal">all of our jewellery is handmade with
    fairmined
    gold
    in our workshop in France</p>
</div>
<section class="separator-div">
  <div class="container">
    <div>
      <span class="dReveal">WHAT WE DO</span>
      <h2 class="dReveal">We Develop <br> Create <br> Custom Jewels.</h2>
      <p class="dReveal">Lorem ipsum dolor sit amet, conse elit, sedid do eiusmod tempor incidi ut labore et dolore
        magna aliqua. Quis
        ipsum usendi laboris mollit</p>
      <button class="shop-btn lReveal">discover more</button>
    </div>
    <div class="imgReveal">
      <img src="../../../assets/landing/lady with neackles.webp" alt="lady img with neackles">
    </div>
  </div>
</section>
<app-best-seller [bestSeller]="bestSeller"></app-best-seller>
<section class="separator-div pt-20">
  <div class="container flex-row-reverse">
    <div>
      <span>WHAT WE DO</span>
      <h2>We Develop <br> Create <br> Custom Jewels.</h2>
      <p>Lorem ipsum dolor sit amet, conse elit, sedid do eiusmod tempor incidi ut labore et dolore magna aliqua. Quis
        ipsum usendi laboris mollit</p>
      <button class="shop-btn">discover more</button>
    </div>
    <div class="imgReveal">
      <img src="../../../assets/landing/lady with ring.webp" alt="lady img with ring">
    </div>
  </div>
</section>
<app-trending [trendingProducts]="trendingProducts"></app-trending>
<app-categories class="my-10"></app-categories>
<app-blogs class="my-20 block"></app-blogs>
<app-testimonials></app-testimonials>
<app-why-us></app-why-us>
<hr>
<app-sponsers></app-sponsers>
<hr>
<app-subscribe></app-subscribe>
<app-animated-bg></app-animated-bg>