.subscribe {
  form {
    [type="email"] {
      all: unset;
      padding: 16px;
      width: 100%;
    }
     
    .error {
      p {
        @apply overflow-hidden opacity-0 duration-300 h-0;
        &.active {
          @apply w-full opacity-100 h-6;
        }
      }
    }
  }
}
