<header class="fixed z-50 top-0 left-0 w-full bg-white">
  <div class="container  flex justify-between gap-3 text-zinc-800 items-center text-xl px-5 ">
    <div class="logo font-extrabold text-orange-500"><a class=" w-10 block" href=""><img src="assets/main-img/logo.svg"
          alt="diamond logo">
      </a></div>
    <nav class="flex-grow">
      <ul [ngClass]="{active:activeMenu}" class="flex justify-center text-lg">
        <li><a routerLink="/">Home</a>
          <ul>
            <li><a href="">Home1</a></li>
            <li><a href="">Home2</a></li>
            <li><a href="">Home3</a></li>
            <li><a href="">Home4</a></li>
          </ul>
        </li>
        <li><a routerLink="/products">Products</a>
          <ul>
            <li><a href="">Thumbnail Vertical</a></li>
            <li><a href="">Thumbnail Horizontal</a></li>
            <li><a href="">Thumbnail Gallery</a></li>
            <li><a href="">Sticky Detail</a></li>
            <li><a href="">Grouped Product</a></li>
            <li><a href="">Variable Product</a></li>
            <li><a href="">External/Affiliate Product</a></li>
          </ul>
        </li>
        <li><a routerLink="blog">Blogs</a>
          <ul>
            <li><a href=""> Blog Grid 3 Columns</a></li>
            <li><a href="">Blog List</a></li>
            <li><a routerLink="/blogs">Single Post</a></li>
          </ul>
        </li>
        <li><a href="">Contant</a>
          <ul>
            <li><a href="">About Us 01</a></li>
            <li><a href="">About Us 02</a></li>
            <li><a href="">Lookbook</a></li>
            <li><a href="">Faqs</a></li>
            <li><a href="">404 Page</a></li>
            <li><a href="">Icons</a></li>
            <li><a href="">Coming Soon</a></li>
          </ul>
        </li>
        <li><a href="">About Us</a>
          <ul>
            <li><a href="">About Us 1</a></li>
            <li><a href="">About Us 2</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="icons">
      <div [ngClass]="{active:activeSearch}" class="search-icon" (click)="reflectActiveSearch()">
        <fa-icon [icon]="search"></fa-icon>
      </div>
      <div routerLink="favourite">
        <fa-icon [icon]="heart"></fa-icon>
        <div *ngIf="lovedItems.length != 0">
          <span *ngIf="lovedItems.length > 9">+9</span>
          <span *ngIf="lovedItems.length <= 9">{{lovedItems.length}}</span>
        </div>
      </div>
      <div routerLink="cart">
        <fa-icon [icon]="cart"></fa-icon>
        <div *ngIf="cartItems.length != 0">
          <span *ngIf="cartItems.length > 9">+9</span>
          <span *ngIf="cartItems.length <= 9">{{cartItems.length}}</span>
        </div>
      </div>
      <div [ngClass]="{active:activeUserMenu}" class="user-icon" (click)="reflectActiveUserMenu()">
        <fa-icon [icon]="user"></fa-icon>
      </div>
    </div>
    <div [ngClass]="{active:activeUserMenu}" class="user-box">
      <button (click)="reflectActiveUserMenu()"></button>
      <div class=" w-60 bg-orange-50 p-2 rounded-3xl  flex flex-col gap-2">
        <div style="--d:2 " class="user-information flex items-center gap-5 justify-center flex-wrap ">
          <img *ngIf="profile?.avatar == undefined || !profile" src="assets/main-img/profile.jpg" alt="User Avatar">
          <img *ngIf="profile?.avatar !== undefined && profile " [src]="profile.avatar"
            [alt]="profile.firstName + 'image'">
          <div class="loged" *ngIf="profile">
            <span class="text-lg font-semibold">Hi !</span>
            <h3 class="capitalize text-sm">{{profile.firstName }}</h3>
          </div>
          <div class="flex" *ngIf="profile">
            <lord-icon class="cursor-pointer " routerLink="setting" trigger="loop-on-hover"
              src="assets/lordicons/setting.json"></lord-icon>
          </div>
          <div *ngIf="profile" class="flex flex-col gap-2 justify-center">
            <button class="" (click)="logout()">Logout</button>
            <button *ngIf="profile?.isAdmin"
              class="bg-orange-400 text-white py-1 w-28 rounded-lg text-sm">Dashboard</button>
          </div>
          <div class="login" *ngIf="!profile">
            <span routerLink="/login">Login</span>
            <h3 routerLink="/signup">SignUp</h3>
          </div>
        </div>
        <div style="--d:3" class="currency">
          <span>Select Country</span>
          <div>
            <button (click)="setCurrency('usa')" [ngClass]="{active:currency == 'usa'}">USA</button>
            <button (click)="setCurrency('egp')" [ngClass]="{active:currency == 'egp'}">EGP</button>
            <button (click)="setCurrency('uro')" [ngClass]="{active:currency == 'uro'}">URO</button>
          </div>
        </div>
        <div style="--d:4" class="dashboard">
          <button class="bg-orange-400 text-white py-1 px-12 rounded-lg text-sm">Dashboard</button>
        </div>
      </div>
    </div>
    <div [ngClass]="{active:activeSearch}" class="search-box">
      <button (click)="reflectActiveSearch()">
      </button>
      <div>
        <form action="">
          <input type="text">
          <button>Search</button>
        </form>
      </div>
    </div>
    <div class="menu-icon" [ngClass]="{active:activeMenu}" (click)="reflectActiveMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>