<section class="categories overflow-hidden">
  <div class="container">
    <div class="title">
      <h2 class="dReveal">Shop by category</h2>
      <p class="dReveal">chose what category you want !</p>
    </div>
    <div class="category flex justify-center gap-5 my-14 flex-wrap min-h-[450px]">
      <div class="lReveal">
        <img src="../../../assets/landing/category/ears.webp" alt="lady wearing ear">
        <span>{{earning}} Product</span>
        <button>earning</button>
      </div>
      <div class="self-end uReveal">
        <img src="../../../assets/landing/category/ring.webp" alt="lady wearing ring">
        <span>{{necklaces}} Product</span>
        <button>necklaces</button>
      </div>
      <div class="rReveal">
        <img src="../../../assets/landing/category/necklaces.webp" alt="lady wearing bracelet">
        <span>{{bracelet}} Product</span>
        <button>bracelet</button>
      </div>
    </div>
  </div>
</section>