<lord-icon colors="primary:#3f3f46,secondary:#fb923c" trigger="loop" delay="1500"
  src="assets/asd/121421-login (1).json"></lord-icon>
<lord-icon colors="primary:#3f3f46,secondary:#fb923c" trigger="loop" delay="1500"
  src="assets/asd/login.json"></lord-icon>
<lord-icon colors="primary:#3f3f46,secondary:#fb923c" trigger="loop" delay="1500"
  src="assets/asd/singup.json"></lord-icon>
<lord-icon colors="primary:#3f3f46,secondary:#fb923c" trigger="loop" delay="1500"
  src="assets/asd/Comp 1.json"></lord-icon>
<lord-icon colors="primary:#3f3f46,secondary:#fb923c" trigger="loop" delay="1500"
  src="assets/asd/Comp 1 (1).json"></lord-icon>
<lord-icon colors="primary:#3f3f46,secondary:#fb923c" trigger="loop" delay="1500"
  src="assets/asd/UnderConstruction.lottie"></lord-icon>