<section>
  <div>
    <app-navigator></app-navigator>
  </div>
  <div class="container">
    <div>
      <img [src]="productInfo.image1" alt="{{productInfo.name + ' Image'}}">
      <div>
        <img (mouseover)="changeSrc($event.target)" [src]="productInfo.image1" alt="{{productInfo.name + ' Image 1'}}">
        <img (mouseover)="changeSrc($event.target)" [src]="productInfo.image2" alt="{{productInfo.name + ' Image 2'}}">
        <img (mouseover)="changeSrc($event.target)" [src]="productInfo.image3" alt="{{productInfo.name + ' Image 3'}}">
        <img (mouseover)="changeSrc($event.target)" [src]="productInfo.image4" alt="{{productInfo.name + ' Image 4'}}">
      </div>
    </div>

  </div>
</section>