<div class="flex flex-col justify-center items-center gap-5 pb-11">
  <lord-icon style="margin: 0%;" class="h-48 w-48" colors="primary:#3f3f46" trigger="loop"
    src="assets/lordicons/4O4.json"></lord-icon>
  <h2 class="text-zinc-800 font-bold text-3xl">Opps! That Links Is Broken</h2>
  <p class="text-zinc-600">Page does not exist or some other error occured. Go to our Home Page</p>
  <button class="shop-btn">BACK TO HOMEPAGE</button>
</div>
<!-- <app-animated-bg></app-animated-bg> -->
<!-- <lord-icon style="margin: 0%;" class="h-48 w-48" colors="primary:#3f3f46" trigger="loop"
  src="assets/lordicons/4o41.json"></lord-icon> -->
<!-- <lord-icon style="margin: 0%;" class="h-48 w-48" colors="primary:#3f3f46" trigger="loop"
  src="assets/lordicons/4o42.json"></lord-icon>
<lord-icon style="margin: 0%;" class="h-48 w-48" colors="primary:#3f3f46" trigger="loop"
  src="assets/lordicons/chat.json"></lord-icon>
<lord-icon style="margin: 0%;" class="h-48 w-48" colors="primary:#3f3f46" trigger="loop"
  src="assets/lordicons/setting.json"></lord-icon>
<lord-icon style="margin: 0%;" class="h-48 w-48" colors="primary:#3f3f46" trigger="loop"
  src="assets/lordicons/background.json"></lord-icon>
<lord-icon style="margin: 0%;" class="h-48 w-48" colors="primary:#3f3f46" trigger="loop"
  src="assets/lordicons/social.json"></lord-icon>
<lord-icon style="margin: 0%;" class="h-48 w-48" colors="primary:#3f3f46" trigger="loop"
  src="assets/lordicons/4o43.json"></lord-icon> -->